<div class="privacy">
    <h1 style="text-align:center;"><span
        style="background-color:transparent;color:#333333;font-family:Arial,sans-serif;font-size:13.5pt;">CHÍNH SÁCH BẢO
        MẬT</span></h1>
    <p style="text-align:justify;">&nbsp;</p>
    <h2 style="text-align:justify;"><span
        style="background-color:transparent;color:#333333;font-family:Arial,sans-serif;font-size:12pt;">1. DỮ LIỆU CÁ NH N
        QUÁN QUEN THU THẬP</span></h2>
    <h3 style="text-align:justify;"><span
        style="background-color:transparent;color:#333333;font-family:Arial,sans-serif;font-size:11.5pt;">1.1. Dữ liệu cá
        nhân được thu thập bao gồm</span></h3>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">Quán Quen thu thập
        dữ liệu cá nhân của khách hàng nhằm cung cấp dịch vụ tốt hơn đến khách hàng. Các loại thông tin Quán Quen thu thập
        gồm:</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">- Dữ liệu cá nhân có
        nghĩa là dữ liệu chính xác về một cá nhân mà thông qua đó có thể được xác định được danh tính, hoặc từ dữ liệu đó và
        thông tin khác mà một tổ chức có hoặc có khả năng tiếp cận. Các dữ liệu cá nhân mà Quán Quen có thể thu thập bao
        gồm:</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">+ Họ tên;</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">+ Địa chỉ
        email;</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">+ Ngày tháng năm
        sinh;</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">+ Địa chỉ liên
        lạc;</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">+ Số điện
        thoại;</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">+ Giới tính;</span>
    </p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">+ Thông tin về vị
        trí của bạn;</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">+ Thư mục hình ảnh,
        video trên điện thoại người dùng nhằm hỗ trợ quá trình đăng tải video, hình ảnh trong quá trình sử dụng;</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">- Dữ liệu tổng hợp
        về nội dung người sử dụng: Là những dữ liệu Quán Quen thu thập được thông qua việc sử dụng nền tảng và các dịch vụ
        của Quán Quen như thông tin về số lần viếng thăm, bao gồm số trang bạn xem, số links (liên kết) bạn click và những
        thông tin khác liên quan đến việc kết nối đến website của Quán Quen. Quán Quen cũng thu thập các thông tin mà trình
        duyệt Web (Browser) bạn sử dụng mỗi khi truy cập vào website, bao gồm: Địa chỉ IP, loại Browser, ngôn ngữ sử dụng,
        thời gian và những địa chỉ mà Browser truy xuất đến.</span></p>
    <h3 style="text-align:justify;"><span
        style="background-color:transparent;color:#333333;font-family:Arial,sans-serif;font-size:13.5pt;">2.2. Trường hợp
        Quán Quen thu thập dữ liệu cá nhân về bạn</span></h3>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">- Khi bạn đăng ký
        và/hoặc sử dụng các dịch vụ hoặc nền tảng của Quán Quen, hoặc mở một tài khoản với Quán Quen;</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">- Khi bạn gửi bất kỳ
        biểu mẫu nào, bao gồm các mẫu đơn khác liên quan đến bất kỳ sản phẩm và dịch vụ nào của Quán Quen, bằng hình thức
        trực tuyến hay dưới hình thức khác;</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">- Khi bạn ký kết bất
        kỳ thỏa thuận nào hoặc cung cấp các tài liệu hoặc thông tin khác liên quan đến tương tác giữa bạn với Quán Quen,
        hoặc khi bạn sử dụng các sản phẩm và dịch vụ của Quán Quen;</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">- Khi bạn tương tác
        với Quán Quen, chẳng hạn như thông qua các cuộc gọi điện thoại, thư từ, fax, gặp gỡ trực tiếp, các nền ứng dụng
        truyền thông xã hội và email;</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">- Khi bạn cấp quyền
        trên thiết bị của bạn để chia sẻ thông tin với ứng dụng hoặc Nền tảng của Quán Quen;</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">- Khi bạn liên kết
        tài khoản Quán Quen với tài khoản mạng xã hội của bạn hoặc các tài khoản bên ngoài khác hoặc sử dụng các tính năng
        mạng xã hội khác, phù hợp với các chính sách của nhà cung cấp.</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">- Khi bạn cung cấp ý
        kiến phản hồi hoặc gửi khiếu nại cho Quán Quen;</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">- Khi bạn đăng ký
        tham gia một cuộc thi; hoặc khi bạn gửi dữ liệu cá nhân của bạn cho Quán Quen vì bất kỳ lý do gì.</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">Các trường hợp trên
        không nhằm mục đích liệt kê đầy đủ các trường hợp và chỉ đưa ra một số trường hợp phổ biến về thời điểm dữ liệu cá
        nhân của bạn có thể bị thu thập.</span></p>
    <h3 style="text-align:justify;"><span
        style="background-color:transparent;color:#333333;font-family:Arial,sans-serif;font-size:13.5pt;">1.3. Mục đích và
        phạm vi sử dụng dữ liệu cá nhân</span></h3>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">Quán Quen cam kết sẽ
        chỉ sử dụng dữ liệu cá nhân của bạn với mục đích cung cấp thêm cho bạn các thông tin hữu ích liên quan đến bất động
        sản, những báo cáo về tình hình bất động sản Quán Quen cho rằng sẽ phù hợp với bạn.</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">Quán Quen có thể
        chuyển các thông tin của bạn đến bộ phận dịch vụ khách hàng để nghiên cứu và phân tích với mục đích nâng cao chất
        lượng dịch vụ mà Quán Quen cung cấp. Quán Quen bao gồm cả các nhân viên của Quán Quen trên cơ sở có sự cho phép của
        Quán Quen có thể liên lạc với các bạn thông qua thư, email, hoặc điện thoại để xin ý kiến phản hồi hoặc nhận xét của
        bạn về dịch vụ của Quán Quen và Quán Quen sẽ gửi các thông báo mới liên quan đến bất động sản hoặc dịch vụ của Quán
        Quen khi và chỉ khi có sự đồng ý của bạn.</span></p>
    <h3 style="text-align:justify;"><span
        style="background-color:transparent;color:#333333;font-family:Arial,sans-serif;font-size:13.5pt;">1.4. Cam kết bảo
        mật dữ liệu cá nhân</span></h3>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">Quán Quen cam kết
        bảo mật dữ liệu cá nhân của bạn là một nghĩa vụ quan trọng của Quán Quen. Điều này có nghĩa và bao gồm Quán Quen sẽ
        nỗ lực hết sức và sử dụng các biện pháp thích hợp để các thông tin mà khách hàng cung cấp cho Quán Quen trong quá
        trình sử dụng nền tảng được bảo mật và bảo vệ khỏi sự truy cập trái phép. Tuy nhiên, Quán Quen sẽ không chịu trách
        nhiệm đối với bất kỳ khiếu nại, tranh chấp hoặc thiệt hại nào phát sinh từ hoặc liên quan đến truy cập trái phép nằm
        ngoài khả năng kiểm soát của Quán Quen.</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">Quán Quen sẽ không
        bán, sử dụng dữ liệu cá nhân của bạn với mục đích thương mại đối với bất kỳ bên thứ ba nào, đồng thời không chia sẻ
        thông tin cá nhân của bạn với bất kỳ bên thứ ba nào trừ trường hợp khi bạn đồng ý giao dịch mua bán hoặc thuê bất
        động sản với chủ thể khác thông qua Quán Quen. Khi đó, Quán Quen có thể cung cấp dữ liệu cá nhân của bạn cho bên còn
        lại nhằm tổ chức hoặc xúc tiến giao dịch đó diễn ra thuận lợi; hoặc trong trường hợp cần thiết các cơ quan, tổ chức
        hoặc cá nhân sau có quyền được tiếp cận và thu thập các thông tin của mình, bao gồm: Ban Quản trị công ty, cơ quan
        nhà nước có thẩm quyền, bên khiếu nại chứng minh được hành vi vi phạm của khách hàng (nếu có)</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">Quán Quen sẽ lưu trữ
        các thông tin cá nhân do khách hàng cung cấp trên các hệ thống nội bộ của Quán Quen trong quá trình cung cấp dịch vụ
        cho khách hàng hoặc cho đến khi hoàn thành mục đích thu thập hoặc khi khách hàng có yêu cầu hủy các thông tin đã
        cung cấp.</span></p>
    <h2 style="text-align:justify;"><span
        style="background-color:transparent;color:#333333;font-family:Arial,sans-serif;font-size:13pt;">2. Địa chỉ đơn vị
        thu thập, lưu trữ, quản lý thông tin và hỗ trợ khách hàng</span></h2>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">Mọi thắc mắc, yêu
        cầu về dữ liệu cá nhân bao gồm cả việc sửa đổi hoặc yêu cầu hủy bỏ thông tin đã cung cấp có thể liên hệ qua:</span>
    </p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">- Địa chỉ: Số 04
        Bình Lợi, P.13, Quận Bình Thạnh, TP.Hồ Chí Minh</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">-
        Email:&nbsp;</span><span
        style="background-color:transparent;color:#0563c1;font-family:Arial,sans-serif;font-size:13pt;">support<u>&#64;vsrius.com</u></span><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">&nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Số điện thoại: 0363559041</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#333333;font-family:Arial,sans-serif;font-size:13.999999999999998pt;">3.
        Chấp thuận</span></p>
    <p style="text-align:justify;"><span
        style="background-color:transparent;color:#696969;font-family:Arial,sans-serif;font-size:13pt;">Bằng cách tải xuống,
        cài đặt, và/hoặc sử dụng nền tảng Quán Quen, bạn đồng ý rằng bạn đã đọc, đã hiểu và chấp nhận các chính sách của
        Quán Quen.</span></p>
    <p>&nbsp;</p>
</div>