<div class="body1">
    <div id="about1" class="container cusContainer2 mt-5 mb-5">
        <div class="cusPart1">
            <div class="row ms-3">
                <div class="col-md-12 col-lg-12">
                    <h3 class="cusTextH3-Orange text-start">Sứ mệnh</h3>
                </div>
            </div>
            <div class="row ms-3">
                <div class="col-md-12 col-lg-12">
                    <label class="cusTextFS24 text-start">Quán Quen là sợi dây kết nối giữa Chủ quán và khách hàng thân
                        thiết của
                        họ thông qua app QUÁN QUEN.</label>
                </div>
            </div>
        </div>

        <div class="cusPart2">
            <div class="row ms-3 mt-3">
                <div class="col-md-9 col-xl-9 cusMargin">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="cusTextH3-Orange text-start mt-5">Thông điệp</h3>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <label class="cusTextFS24 text-start">Gồm 3 thông điệp chính:</label>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <label class="cusTextFS24 text-start"><span class="cusText-Orange">ẨM THỰC:</span> Mang đến
                                sự đa dạng đặc
                                sắc về ẩm thực không chỉ Việt Nam, mà còn về ẩm thực Thế giới.</label>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <label class="cusTextFS24 text-start"><span class="cusText-Green">Gắn kết:</span> Ẩm thực
                                thường gắn liền
                                với câu chuyện thân quen giữa khách hàng và chủ quán.
                                Quán Quen tăng trải nghiệm tương tác hơn nữa giữa khách hàng và chủ quán.</label>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <label class="cusTextFS24 text-start"><span class="cusText-Blue">Kết nối:</span> Quán Quen
                                tạo ra một
                                không gian nơi khách hàng và chủ quán có thể chia sẻ câu chuyện thân quen không chỉ là
                                về ẩm thực mà còn là về sự kết nối, ấm áp và sự tận hưởng những khoảnh khắc chia sẻ qua
                                bữa ăn.</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xl-3 d-flex align-items-end mt-4">
                    <img src="./assets/img/banners/Thong diep_QuanQuen-01 1.svg" class="img-fluid cusBanner" alt="">
                </div>
            </div>
        </div>


        <div class="cusPart3 mt-3">
            <div class="row ms-3">
                <div class="col-md-12 col-lg-12">
                    <h3 class="cusTextH3-Orange text-start">Liên hệ</h3>
                </div>
            </div>
            <div class="row ms-3">
                <div class="col-md-12 col-lg-12">
                    <label class="cusTextFS24 text-start">Email: support&#64;vsirius.com</label>
                </div>
            </div>
            <div class="row ms-3">
                <div class="col-md-12 col-lg-12">
                    <label class="cusTextFS24 text-start">Hotline: +84363559041</label>
                </div>
            </div>
        </div>
    </div>
</div>