<div class="container cusContainer text-center mb-auto mt-4">
    <div class="row d-lg-flex justify-content-center">
        <div class="col">
            <div class="d-lg-flex justify-content-center mb-5" style="width: 100%;">
              <img src="./assets/img/brand/logoQQBottom.png" class="mt-2 imgLogo cursorPointer" (click)="pageHome()" />
              <div>
              </div>
            </div>
            <div class=" cusRowFooter">
              <div class="col">
                <label class="cusText cursorPointer" for="" (click)="pageAboutQuanQuen()">{{ 'FOOTER_LI1' | translate }}</label>
              </div>
              <div class="col">
                <label class="cusText cursorPointer" for="" (click)="pageFeature()">{{ 'FOOTER_LI2' | translate }}</label>
              </div>
              <div class="col">
                <label class="cusText cursorPointer" for="" (click)="pageHome()">{{ 'FOOTER_LI3' | translate }}</label>
              </div>
              <div class="col">
                <label class="cusText cursorPointer" for="" (click)="privacyPolicy()">{{ 'FOOTER_LI4' | translate }}</label>
              </div>
              <div class="col">
                <label class="cusText cursorPointer" for="" (click)="pageHome()">{{ 'FOOTER_LI5' | translate }}</label>
              </div>
            </div>
            <div class="row d-lg-flex justify-content-center mt-3">
              <div class="col">
                <label class="cusTextAddress" for="">{{ 'ADDRESS' | translate }}</label>
              </div>
            </div>
            <div class="row d-lg-flex justify-content-center">
              <div class="col">
                <label class="cusTextAddress" for="">Mst: 0317393896</label>
              </div>
            </div>
            <div class="row d-lg-flex justify-content-center mb-5">
              <div class="col">
                <label class="cusTextAddress" for="">Email: support&#64;vsirius.com</label>
              </div>
            </div>
            <hr class="mt-2">
            <div class="row d-lg-flex justify-content-center">
              <div class="col">
                <label class="cusTextTeam" for="">VSirius &#64; 2024 All Right Reserved</label>
              </div>
            </div>
          </div>
    </div>
</div>