<div id="banner2" class="container cusContainer text-center mb-5 mt-5 ">
    <div class="row mtofar d-flex flex-column justify-content-center">
        <h3 class="cusTextH3 mt-2 ">Nhập hội <span class="cusTextH3-Orange">Quán Quen</span> có gì hay?</h3>
    </div>
    <div class="row mb-2">
        <div class="col-md-4"></div>
        <div class="col-md-4  d-flex flex-direction-row justify-content-center">
            <hr class="w-50 cusHr">
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row d-flex align-content-center cusRowBanner2FC">
        <div class="col-md-4 mt-3">
            <div class="cusRowBanner2">
                <div class="col-md-12">
                    <img src="./assets/img/banners/Splash-Final-01 2.png" class="cusImgBanner img-fluid mt-5 mb-5"
                        alt="">
                </div>
            </div>
            <div class="row d-flex align-content-center">
                <div class="col-md-12">
                    <label class="cusTextBanner2FS36 mt-2">Ưu đãi độc quyền</label>
                    <div class="row mt-3 mb-5">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <label class="cusTextBanner2FS24">Quán Quen dành rất nhiều ưu đãi độc quyền cho khách
                                hàng</label>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="cusRowBanner2">
                <div class="col-md-12">
                    <img src="./assets/img/banners/Splash-Final-02 2.png" class="cusImgBanner img-fluid mt-5 mb-5"
                        alt="">
                </div>
            </div>
            <div class="row d-flex align-content-center">
                <div class="col-md-12">
                    <label class="cusTextBanner2FS36 mt-2">Yên tâm đặt bàn</label>
                    <div class="row mt-3 mb-5">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <label class="cusTextBanner2FS24">Giúp khách hàng dễ dàng đặt bàn nhanh chóng và thuận
                                tiện</label>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="cusRowBanner2">
                <div class="col-md-12">
                    <img src="./assets/img/banners/Splash-Final-03 2.png" class="cusImgBanner img-fluid mt-5 mb-5"
                        alt="">
                </div>
            </div>
            <div class="row d-flex align-content-center">
                <div class="col-md-12">
                    <label class="cusTextBanner2FS36 mt-2">Chia sẻ kinh nghiệm</label>
                    <div class="row mt-3 mb-5">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <label class="cusTextBanner2FS24">Nơi khách hàng chia sẻ kinh nghiệm với những câu truyện
                                hay gắn liền với ẩm thực</label>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>