.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    border: 2px solid #fc8312;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.scroll-to-top:hover{
    background-color: #fc83125c;
}
.cusIcon{
    color: #bab2b2;
}